$a-image-size: 100%;
$a-border-color: black;
$header-size: 30px;

.board-layout {
    border: 5px solid $a-border-color;
}

.answers {
    max-width: $a-image-size;
}

.pressed {
    opacity: 0.2;
}