$a-image-size: 100%;
$border-color: #89A8B2;
$main-color: #F1F0E8;
$board-color: #E5E1DA;
$accent-color: #B3C8CF;


.board-layout {
    border: 2px solid $border-color;
}

.answers {
    max-width: $a-image-size;
}

.pressed {
    opacity: 0.2;
}