$a-image-size: 100%;
$border-color: #89A8B2;
$main-color: #F1F0E8;
$board-color: #E5E1DA;
$accent-color: #B3C8CF;

  
.board-layout {
    border: 3px solid $border-color;
    background-color: $border-color;
    font-family: "Bubblegum Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: $main-color;
    font-size: 2.2em;
}

.outer-board-layout {
    @extend .board-layout;
    border: 20px solid $border-color;
    border-radius: 20px;
}
/*
.top-left-board-layout{
    @extend .board-layout;
    border-top-left-radius: 15px;
    
}
.top-right-board-layout{
    @extend .board-layout;
    border-top-right-radius: 15px;
}
.outer-board-layout {
    @extend .board-layout;
    border-radius: 15px;
    border: 6px;
}
*/
body {
    background-color: $main-color;

}
.answers {
    max-width: $a-image-size;
}

.pressed {
    opacity: 0.3;
}